.container {
background-color: #DFE4E1;
color: #252625;
width:100%;
margin-left: auto;
margin-right: auto;
padding-right: 15px;
padding-left: 15px
font-family: 'Lato', sans-serif;
}

.body {
  background-color: #DFE4E1;
}

.first-letter {
  font-size: 30px;
  line-height: 70px;
  font-style: italic;
}

#h1 {
  font-style: italic;
  font-family:'Lato', sans-serif;
  text-align: center;
  padding-bottom: 50px;
}
#byline {
  text-decoration: underline;
  font-style: italic;
}

ul {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
ul {
  font-family: 'Lato', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FA6D79;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.pquote {
    float: left;
    width: 100px;
    background: #ddf;
    font-weight: bold;
    padding: 13px;
    margin: 0 13px 13px 0;
}

blockquote {
    margin: 0; /* gets rid of the default blockquote margin */
}

.pquote {
    float: left;
    width: 200px;
    background: url(images/openquote.gif) top left no-repeat;
    color: #FA6D79;
    font-size: 26px;
    line-height: 0.9;
    font-style: italic;
    padding: 13px;
}

blockquote {
    margin: 0;
}

.pquote p:first-letter {
    font-size: 39px;
    font-weight: bold;
}
