
body{
  font-family: 'open sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}
#containter {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

#name {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}


#title {
  font-weight: 600;
  font-size: 1.5em;
  color: #33485e;
  text-transform: uppercase;
  margin-top: 20px;
  margin: 0px;
  text-align: center;
}

.sectionheader {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: #fff;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 70%;
  min-width: 300px;
}

.jobtitle {
  font-weight:600;
  font-size: 1.5em;
}

.jobdate {
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
  margin-top: 2px;
  margin: 0px;
}

.organization {
  font-size: 1.25em;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 0;
}

.menu {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.menu li {
  display: inline;
}

.degrees {
  margin-top: 5px;
  margin: 0px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
