.headline {
  font-size: 3em;
  font-weight:700;
  text-align:center;
  font-family:'Montserrat', sans-serif;
}

.byline {
  font-size:1em;
  text-transform: uppercase;
  font-family:'Montserrat', sans-serif;
  text-align: center;
}

p {
  font-family: georgia, serif;
  line-height: 180%
}

.chapter-title {
  font-size: 2em;
  font-weight: 600;
  font-family:'Montserrat', sans-serif;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
